<% content_for :head do %>
<title>Blog</title>
<%= stylesheet_link_tag "admin/articles" %>
<% end %>

<div class="admin-articles">
  <p style="color: green"><%= notice %></p>

  <div class="top-actions">
    <span>Articles</span>
    <%= link_to "New Article", new_admin_article_path, class: "publish-button"%>
  </div>

  <table>
    <tr>
      <th>Title</th>
      <th>Actions</th>
    </tr>

    <% @articles.each do |article| %>
    <%= render article %>
    <% end %>

  </table>

</div>