* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow-y: scroll;
  height: 100%;
  font: 100%/1.5 sans-serif;
  word-wrap: break-word;
  margin: 0 auto;
  padding: 1.5em;
}

body {
  background-color: white;
}

@media (min-width: 768px) {
  html {
    font-size: 125%;
    max-width: 1200px;
  }

  .post {
    max-width: 800px;
    margin: 0 auto;
  }
}

a {
  text-decoration: none;
}

p {
  margin: 1em 0;
  line-height: 1.5;
}

p code {
  background-color: #eee;
  padding: 0.05em 0.2em;
  border: 1px solid #ccc;
}

ol,
ul {
  margin: 1em;
}

ol li ol,
ol li ul,
ul li ol,
ul li ul {
  margin: 0 2em;
}

ol li p,
ul li p {
  margin: 0;
}

dl {
  font-family: monospace, monospace;
}

dl dt {
  font-weight: bold;
}

dl dd {
  margin: -1em 0 1em 1em;
}

blockquote {
  padding-left: 1em;
  font-style: italic;
  border-left: solid 1px #fa6432;
}

.title {
  font-size: 2.5em;
}

.subtitle {
  font-weight: normal;
  font-size: 0.75em;
  color: #666;
}

.tags {
  margin-top: -1.5rem;
  padding-bottom: 1.5em;
}

.tags li {
  display: inline;
  margin-right: 0.5em;
}

figure {
  margin: 1em 0;
}

figure figcaption {
  font-family: monospace, monospace;
  font-size: 0.75em;
  text-align: center;
  color: grey;
}

.footnote-definition sup {
  margin-left: -1.5em;
  float: left;
}

.footnote-definition .footnote-body {
  margin: 1em 0;
  padding: 0 1em;
  border: 1px dashed rgba(250, 100, 50, 0.3);
  background-color: rgba(200, 200, 200, 0.2);
}

.footnote-definition .footnote-body p:only-child {
  margin: 0.2em 0;
}

.posts {
  margin: 0;
  list-style: none;
}

.posts .post a {
  display: flex;
  padding: 0.5em 0;
  color: black;
}

.posts .post a:hover,
.posts .post a:focus,
.posts .post a:active {
  text-decoration: none;
  background: rgba(200, 200, 200, 0.2);
}

.posts .post date {
  font-family: monospace, monospace;
  font-size: 0.8rem;
  vertical-align: middle;
  padding-right: 2rem;
  color: grey;
}

.visuallyhidden {
  display: none;
}

.pagy {
  display: flex;
  margin: 1em auto;
  justify-content: center;
}

.pagy a + a {
  margin-left: 0.5em;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
}

.search-form {
  margin: 0 auto;
}

.search-form form {
  margin: 0 auto;
  text-align: center;
}

form .input {
  width: 50%;
  padding: 0.5em 1em 0.5em 0em;
  border-radius: 20px;
  border: 2px solid #ccc;
  text-align: right;
  font-size: 16px;
}

.input:focus {
  outline: none;
  border-color: #fa6432;
}

svg {
  width: 2em;
  height: 2em;
  vertical-align: middle;
  color: black;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 0.5s;
}

.prose {
  font-size: var(--text-fluid-base);
  max-inline-size: 75ch;
  /* Antialiased fonts */
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  :is(h1, h2, h3, h4, h5, h6) {
    font-weight: var(--font-extrabold);
    hyphens: auto;
    letter-spacing: -0.02ch;
    line-height: 1.1;
    margin-block: 0.5em;
    overflow-wrap: break-word;
    text-wrap: balance;
  }
  h1 {
    font-size: 2.4em;
  }
  h2 {
    font-size: 1.8em;
  }
  h3 {
    font-size: 1.5em;
  }
  h4 {
    font-size: 1.2em;
  }
  h5 {
    font-size: 1em;
  }
  h6 {
    font-size: 0.8em;
  }
  :is(ul, ol, menu) {
    list-style: revert;
    padding-inline-start: revert;
  }
  :is(p, ul, ol, dl, blockquote, pre, figure, table, hr) {
    margin-block: 0.65lh;
    overflow-wrap: break-word;
    text-wrap: pretty;
  }
  hr {
    border-color: var(--color-border-dark);
    border-style: var(--border-style, solid) none none;
    margin: 0.5lh auto;
  }
  :is(b, strong) {
    font-weight: var(--font-bold);
  }
  :is(pre, code) {
    background-color: var(--color-border-light);
    border: 1px solid var(--color-border);
    border-radius: var(--rounded-sm);
    font-family: var(--font-monospace-code);
    font-size: 0.85em;
  }
  code {
    padding: 0.1em 0.3em;
  }
  pre {
    border-radius: 0.5em;
    overflow-x: auto;
    padding: 0.5lh 2ch;
    text-wrap: nowrap;
  }
  pre code {
    background-color: transparent;
    border: 0;
    font-size: 1em;
    padding: 0;
  }
  p {
    hyphens: auto;
    letter-spacing: -0.005ch;
  }
  blockquote {
    font-style: italic;
    margin: 0 3ch;
  }
  blockquote p {
    hyphens: none;
  }
  table {
    border: 1px solid var(--color-border-dark);
    border-collapse: collapse;
    margin: 1lh 0;
  }
  th {
    font-weight: var(--font-bold);
  }
  :is(th, td) {
    border: 1px solid var(--color-border-dark);
    padding: 0.2lh 1ch;
    text-align: start;
  }
  th {
    border-block-end-width: 3px;
  }
  del {
    background-color: rgb(from var(--color-negative) r g b / 0.1);
    color: var(--color-negative);
  }
  ins {
    background-color: rgb(from var(--color-positive) r g b / 0.1);
    color: var(--color-positive);
  }
  a {
    color: var(--color-link);
    text-decoration: underline;
    text-decoration-skip-ink: auto;
  }
  mark {
    color: var(--color-text);
    background-color: var(--color-highlight);
  }
}
